@media screen and (min-width: 320px) {
    .cardModel01 {
        width: 100%;
        height: 70px;
        margin: 10px 3px;
        text-align: center;
        img {
            // width: 100px;
            height: 55px;
            opacity: 0.3;
            transition: 0.4s;
            &:hover {
                opacity: 1;
                transition: 0.4s;
            }
        }
    }
    .cardModel02 {
        width: calc(100% - 40px);
        margin: 10px;
        padding: 30px;
        text-align: center;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        .iconImage {
            img {
                width: 50px;
                height: 50px;
            }
        }
        .description {
            text-align: center;
        }
    }

    .cardModel03 {
        width: calc(100% - 40px);
        margin: 10px;
        padding: 30px;
        text-align: center;
        border: 1px solid #e5e5e5;
        border-radius: 5px;

        .iconImage {
            img {
                width: 50px;
                height: 50px;
            }
        }
        .description {
            text-align: center;
        }
        .title {
            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .cardModel01 {
        width: auto;
        margin: 0;
    }
    .cardModel02 {
        width: calc(50% - 20px);
        height: 350px;
        p {
            text-align: justify;
        }
    }

    .cardModel03 {
        width: calc(50% - 20px);
        height: 300px;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .cardModel01 {
        width: auto;
        margin: 0;
    }
    .cardModel02 {
        width: calc(33.33% - 20px);
        height: 300px;
        p {
            text-align: justify;
        }
    }
    .cardModel03 {
        width: calc(25% - 20px);
        height: 200px;
        text-align: center;
    }
}