@import '../helpers/helpers.module.scss';
@media screen and (min-width: 320px) {
    .section {
        width: 100%;
        background-image: url(../../public/background-03.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 50px 0;
        min-height: calc(100vh - 90px);
        .title {
            width: 100%;
            font-size: 2rem;
            color: #fff;
            text-align: center;
            margin-top: 70px;
        }
        .text {
            width: 100%;
            font-size: 1.125rem;
            color: #fff;
            text-align: center;
            margin-top: 70px;
            background: rgba($color: #000000, $alpha: 0.2);
            padding: 0 10px 0 10px;
        }
        .actions {
            width: 100%;
            color: #fff;
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .section {
        width: 100%;
        .title {
            span {
                font-size: 60px;
            }
        }
    }
}