@media screen and (min-width: 320px) {
    .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0;
        min-height: 100vh;
        border-top: 2px solid #8BA426;
        .title {
            width: 100%;
            font-size: 2rem;
            color: #000;
            text-align: center;
            margin: 0 0 70px 0;
        }
        .boxCard {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
    .hide {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .section {
        width: 100%;
        .decor {
            position: absolute;
            left: 0;
            background-color: #9aaf42;
            width: 200px;
            height: 20px;
            top: 700px;
        }
    }
}