@media screen and (min-width: 320px) {
    .footer {
        width: 100%;
        background-color: #4e4e4e;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0 0 0 0;

        .redessociais {
            align-items: center;
            background-color: #4e4e4e;
            width: 40%;
            display: flex;
            justify-content: space-around;

            img {
                width: 70px;
                height: 70px;
                padding: 0 0 0 20px;
                cursor: pointer;
            }
            .imgIn {
                width: 92px;
                height: 92px;
                padding: 0 0 0 20px;
                cursor: pointer;
            }
        }
        .informacoes {
            color: #ffffff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0 0 20px 0;
        }
    }
}
@media screen and (min-width: 768px) {
    .footer {
        width: 100%;
    }
}
