@import '../helpers/helpers.module.scss';
@media screen and (min-width: 320px) {
    .section {
        width: 100%;
        background-color: #414141;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        // padding: 0 0 50px 0;
        .title {
            width: calc(100% - 20px);
            font-size: 2rem;
            color: #fff;
            margin: 70px 0 0 20px;
            text-align: center;
        }
        .text {
            width: calc(100% - 40px);
            font-size: 1.125rem;
            color: #fff;
            margin: 10px 20px 0 20px;
            text-align: center;
        }
        .actions {
            width: 100%;
            color: #fff;
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                width: calc(100% - 20px);
                margin: 5px 10px;
                height: 50px;
                padding: 0 25px;
                font-size: 16px;
                letter-spacing: 0.04em;
                font-weight: 400;
                border: none;
                border-radius: 10px;
                background: #000;
                color: #fff;
            }
        }
        .container {
            padding: 10px;
            width: 100%;
            background-color: #9aaf42;
            display: flex;
            flex-direction: column;
            text-align: center;
            .container_part {
                width: 100%;
                min-height: 250px;
                .navigation {
                    ul {
                        width: 100%;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        li {
                            margin: 10px 0;
                            text-transform: uppercase;
                            cursor: pointer;
                            color: #000;
                            a {
                                &:hover {
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
            // .sideLeft {
            //     .cheap {
            //         ul {
            //             list-style-type: none;
            //             margin: 0;
            //             padding: 0;
            //             display: flex;
            //             justify-content: space-around;
            //             li {
            //                 .card {
            //                     display: block;
            //                     padding: 10px 0;
            //                     cursor: pointer;
            //                     img {
            //                         width: 50px;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
            // .sideRight {
            //     width: 100%;
            //     .title {
            //         text-align: center;
            //     }
            //     .text {
            //         text-align: justify;
            //     }
            // }
            // .title {
            //     span {
            //         font-size: 30px;
            //     }
            // }
            // .text {
            //     text-align: left;
            // }
        }
        .footer {
            background-color: $cor-complemento-secundario;
            text-align: center;
            width: 100%;
            .footerLogo {
                img {
                    display: none;
                }
            }
            .footerContent {
                span {
                    text-align: center;
                    color: #fff;
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section {
        width: 100%;
        .actions {
            input {
                width: calc(50% - 20px);
            }
        }
        .container {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            text-align: left;
            .container_part {
                width: calc(33.33% - 20px);
                min-height: 400px;
                h2 {
                    padding-left: 3px;
                    border-left: 4px solid #fff;
                }
                .navigation {
                    ul {
                        width: 100%;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        text-align: left;
                        li {
                            margin: 10px 0;
                            text-transform: uppercase;
                            cursor: pointer;
                            a {
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            // .sideLeft {
            //     width: 15%;
            //     .cheap {
            //         ul {
            //             align-items: baseline;
            //             flex-direction: column;
            //             list-style-type: none;
            //             margin: 0;
            //             padding: 0;
            //             li {
            //                 .card {
            //                     display: block;
            //                     padding: 15px 0;
            //                     cursor: pointer;
            //                     img {
            //                         width: 50px;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
            // .sideRight {
            //     width: 100%;
            //     .title {
            //         text-align: center;
            //     }
            //     .text {
            //         text-align: center;
            //     }
            // }
            // .title {
            //     span {
            //         font-size: 30px;
            //     }
            // }
            // .text {
            //     text-align: left;
            // }
        }
        .footer {
            padding: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .footerLogo {
                img {
                    display: block;
                    width: 100px;
                }
            }
            .footerContent {
                span {
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}